body{
    width: 100%;
}
header{
    flex-direction: column;
}
nav a:hover{
    color: #0065fc;
    border-bottom: 1.5px solid #0065fc;
    border-top: none;
    padding-bottom: 16px;
}
#logo{
    justify-content: flex-start;
}
nav{
    border-bottom: 1.5px solid #f2f2f2;
}
li{
    flex-direction: column-reverse;
}
#nav3{
    margin-left: -103px;
    margin-top: -50px;
}
#bouton{
    width: 40px;
    padding-left: 20px;
}
span{
    display: none;
}
.fa-search{
    visibility: visible;
}
#filtres{
    flex-direction: column;
}
#filtres_logo1{
    width: 145px;
    margin-left: 5px;
}
#filtres_logo2{
    width: 110px;
    margin-top: -40px;
    margin-left: 160px;
}
#filtres_logo3{
    width: 145px;
    margin-left: 0px;
}
#filtres_logo4{
    width: 190px;
    margin-left: 0px;
}
#info{
    padding-top: 20px;
}
.hebergements_populaires{
    flex-direction: column-reverse;
}
.phone_populaires{
    width: auto;
    margin-left: -30px;
    margin-right: -8px;
}
#populaires{
    width: auto;
    padding-bottom: 5px;
    border-radius: 0px;
}
#populaires_logo{
    padding-left: 70px;
}
h4{
    margin-top: 10px;
    padding-left: 0px;
}
#hebergements{
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: white;
}
.hebergements1{
    width: 100%;
    flex-direction: column;
}
.hebergements2{
    width: auto;
    flex-direction: column;
    margin-top: -40px;
}
article{
    width: auto;
}
#cannebière, #hotel_port, #mouettes, #hotel_mer, #panier, #amina{
    width: 100%;
    border: 1px solid #f2f2f2;
    margin-bottom: 8px;
}
#cannebière img, #hotel_port img, #mouettes img, #hotel_mer img, #panier img, #amina img{
    width: 99%;
    padding-left: 2px;
    padding-top: 3px;
}
#hotel_mer{
    margin-top: 40px;
}
#panier, #amina{
    margin-top: 0px;
}
#afficher_plus{
    padding-left: 0px;
}
h5{
    margin-top: -20px;
}
.activites{
    flex-direction: column;
}
#vieux_port, #fort_pomègues, #iles_frioul, #calanques, #dame_garde, #longchamp{
    width: 100%;
    padding-left: 0px;
}
#vieux_port img, #calanques img{
    width: 100%;
    height: 120px;
}
#fort_pomègues img, #iles_frioul img, #dame_garde img, #longchamp img{
    width: 100%;
    height: 120px;
} 
#fort_pomègues, #iles_frioul, #calanques, #dame_garde, #longchamp{
    margin-top: 10px;
}
#texte_vieuxport, #texte_calanques{
    width: 100%;
}
#texte_fortpomègues, #texte_ilesfrioul, #texte_damegarde, #texte_longchamp{
    width: 100%;
}
#calanques, #fort_pomègues, #iles_frioul{
    margin-left: 0px;
}
footer{
    flex-direction: column;
    justify-content: space-evenly;
}
footer a{
    flex-wrap: wrap;
    text-align: left;
}