/* Polices personalisées */

@font-face{
    font-family: Raleway;
    src: url(polices/Raleway-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Principal */

body{
   font-family: 'Raleway', sans-serif;
}

#bloc_page{
    margin: auto;
}

h1{
    margin: 5 5 5 50px;
    font-size: 1.2em;
}

p{
    font-size: 0.75em;
}

@media all and (max-width: 1024px){
    #bloc_page{
        width: auto;
    }
}

@media all and (max-width: 1024px){
    nav{
        width: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        padding-left: 4px;
    }
    nav a{
        font-size: 0.8em;
    }
    nav a:hover{
        border-bottom: 0;
    }
}

@media all and (max-width: 1024px){
    section{
        flex-direction: column;
    }
    article, aside{
        width: auto;
        margin-bottom: 15px;
    }
    #hebergements img{
        width: 110px;
        float: left;
        margin-left: 15px;
    }
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#Titre{
    display: flex;
    flex-direction: column;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img{
    width: 80px;
    height: 40px;
}

/* Navigation */

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 30px;
}

nav a{
    color: black;
    font-size: 0.8em;
    padding-top: 20px;
    text-decoration: none;
}

nav a:hover{
    color: #0065fc;
    border-top: 1.5px solid #0065fc;
}

/* Bannière */

#banniere h1{
    height: 12px;
}

.fa-map-marker-alt{
    margin: auto;
    background-color: #f2f2f2;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    border-radius: 5px 0px 0px 5px;
    padding: 10px 7px 10px 10px;
}

#marecherche{
    border: 0.5px solid #f2f2f2;
    height: 35px;
    width: 200px;
    vertical-align: middle;
    padding-left: 20px;
}

#bouton{
    font-family: 'Raleway', 'sans-serif';
    background-color: #0065fc;
    border-style: none;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 100px;    
    border-radius: 0px 10px 10px 0px;
}

#filtres{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 0px 0px;
    margin: 2px 2px 2px 2px;
    font-size: 0.7;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    display: flex;
    text-align: center;
    font-size: 14px;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 43%;
    height: 20px;
    width: 23px;
    padding: 2px 2px 2px 2px;
}

#filtres_logo{
    display: flex;
    height: 24px;
    border: 2px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    margin-right: 150px;
    margin-top: 5px;
}

#filtres_logo:hover{
    transform: scale(1.5);
    cursor: pointer;
    transition: 0.3s;
}

#filtres_box1{
    padding-left: 7px;
    margin : auto;
    width: 85px;
}

#filtres_box2{
    padding-left: 7px;
    margin :auto;
    width: 55px;
}

#filtres_box3{
    padding-left: 7px;
    margin :auto;
    width: 85px;
}

#filtres_box4{
    padding-left: 7px;
    margin: auto;
    width: 120px;
}

#info{
    display: flex;
    padding: 8px 0px 0px 8px;
}

.fa-info{
    display: flex;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    color: #0065fc;
    border: 0.5px solid #f2f2f2;
    border-radius: 43%;
    height: 10px;
    width: 10px;
    padding: 4px 4px 4px 4px;
}

#info_texte{
    display: flex;
    font-size: 0.78em;
    margin: 3px 0px 0px 0px;
    padding-left: 7px;
    height: 40px;
}

/* Corps */

section{
    font-family: 'Raleway' 'sans-serif';
    display: flex;
    margin-bottom: 15px;
}

aside{
    display: flexbox;
    flex: 1.2;
    position: relative;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 30px 30px;
    padding-top: 10px;
    padding-left: 25px;
    margin-left: 20px;
    margin-bottom: 50px;
    width: 30%; 
}

aside a{
    text-decoration: none;
    color: black;
}

section h2, aside h2{
    font-size: 0.8em;
    padding-left: 10px;
    margin-top: 5px;
}

article p, aside p{
    font-size: 0.6em;
    padding-left: 10px;
}

/* Hébergements à Marseille */

#hebergements{
    display: flexbox;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 30px 30px;
    margin-bottom: 50px;
    box-sizing: 300px; 
    width: 75%;
}

#hebergements h1{
    text-align: left;
    padding-left: 35px;
    padding-top: 10px;
}

#hebergements a{
    text-decoration: none;
    color: black;
}

#hebergements1, #hebergements2{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
    margin-left: -25px;
}

#etoiles_hebergements{
    color: #0065fc;
    font-size: 0.5em;
    padding-left: 10px;
    padding-bottom: 10px;
}

#hebergements3{
    justify-content: space-between;
}

#cannebière{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
}

#cannebière img{
    height: 80px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

#hotel_port{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
}

#hotel_port img{
    height: 80px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

#mouettes{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
}

#mouettes img{
    height: 80px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

#hotel_mer{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
}

#hotel_mer img{
    height: 80px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

#panier{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
}

#panier img{
    height: 80px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

#amina{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
}

#amina img{
    height: 80px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

#afficher_plus{
    text-align: left;
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#populaires{
    display: flex;
}

.fa-chart-line{
    padding-top: 23px;
    padding-left: 50px;
}

#soleil{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: -15px;
    margin-right: 20px;
}

#image_soleil{
    text-align: left;
    margin-bottom: 10px;  
}

#texte_soleil{
    margin-top: -85px;
    padding-left: 100px;
}

#texte_soleil h2{
    text-align: left;
}

#texte_soleil p{
    margin-top: -10px;
    text-align: left;
}

#soleil img{ 
    height: 80px;
    width: 100px;
    border-radius: 10px 0px 0px 10px;
}

#coeur_eau{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 50px;
    margin-right: 20px;
}

#image_coeureau{
    text-align: left;
    margin-bottom: 10px;  
}

#texte_coeureau{
    margin-top: -85px;
    padding-left: 100px;
}

#texte_coeureau h2{
    text-align: left;
}

#texte_coeureau p{
    margin-top: -10px;
    text-align: left;
}

#coeur_eau img{ 
    height: 80px;
    width: 100px;
    border-radius: 10px 0px 0px 10px;
}

#tout_bleu{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 50px;
    margin-right: 20px;
}

#image_toutbleu{
    text-align: left;
    margin-bottom: 10px;  
}

#texte_toutbleu{
    margin-top: -85px;
    padding-left: 100px;
}

#texte_toutbleu h2{
    text-align: left;
}

#texte_toutbleu p{
    margin-top: -10px;
    text-align: left;
}

#tout_bleu img{ 
    height: 80px;
    width: 100px;
    border-radius: 10px 0px 0px 10px;
}

#etoiles_populaires{
    color: #0065fc;
    font-size: 0.5em;
    padding-bottom: 0px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

/* Activités */

#activites{
    display: flex;
    justify-content: space-between;
}

#activites1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 50px;
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 0px 0px 5px 5px;
}


/* Footer */

footer{
    display: flex;
    background-color: #f2f2f2;
    padding: 25px 25px 25px 25px;
}

footer ul, footer h2{
    font-size: 1.1em;
}

footer p{
    text-align: left;
    font-size: 0.9em;
    margin: 1 1 1 10px;
}

#a_propos{
    width: 35%;
    }

#hébergements{
    width: 35%;
}

#assistance{
    width: 35%;
}