body{
    width: 100%;
}
h4{
    padding-left: 25px;
}
#populaires_logo{
    padding-top: 25px;
    margin-left: 70px;
}
.activites{
    padding-left: 20px;
    justify-content: space-between;
}
#vieux_port img, #calanques img{
    width: 100%;
    height: 250px;
}
#fort_pomègues img, #iles_frioul img{
    width: 100%;
    height: 93px;
}
#dame_garde img, #longchamp img{
    width: 100%;
    height: 90px;
}
#texte_vieuxport, #texte_calanques{
    width: 100%;
}
#texte_fortpomègues, #texte_ilesfrioul, #texte_damegarde, #texte_longchamp{
    width: 100%;
}
footer{
    justify-content: space-evenly;
}